:root {
  --baseColor: #ef8a17;
  --greyColor: #a1a1a1;
}

body {
  background-color: white;
}

a {
  text-decoration: none !important;
  color: black !important;
}


.card-container {
  flex: 1 0 500px;
  background-color: white;
  box-shadow: 0px 0px 3px 1px #e2e2e2;
  width: 300px;
  border-radius: 10px;
  margin: 1rem 0.25em;
}

@media screen and (min-width: 40em) {
  .card-container {
    max-width: calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card-container {
    max-width: calc(25% - 1em);
  }
}

p {
  margin-bottom: 0px !important;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.container-img {
  margin: 35px;
}

.container-detailimg {
  margin: 30px;
  margin-left: 60px;
}

.container-product {
  margin: 80px;

}

.container-detailproduct {
  margin: 40px;
  padding-right: 70px;
}


.card-image {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  object-fit: contain;
}

.card-text {
  padding: 15px;
}

.name {
  font-size: 14px;
  font-weight: 700;
}

.category {
  font-size: 12px;
  font-weight: 700;
  color: var(--baseColor);
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.description {
  font-size: 12px;
  font-weight: normal;
  color: var(--greyColor);
  margin-top: 10px;
}

.sales {
  font-size: 10px;
  font-weight: normal;
  color: var(--greyColor);
  margin-top: 10px;
}

.btn-eye {
  border: 0px transparent;
  background-color: transparent;
  border-radius: 5px;
  color: var(--greyColor);
}

.btn-eye:hover {
  color: var(--baseColor);
  border: 0px transparent;
  /* background-color: rgb(245, 245, 245); */
}

.nav-link {
  font-weight: 700;
  font-size: 16px;
}

nav {
  box-shadow: 0px 0px 3px 1px #e2e2e2;
  background-color: #fff;
}

.icon-search {
  height: 30px;
  color: black;
}

form {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.form-input-search {
  height: 50px;
  border: none;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  padding-right: 40px;
}

.form-input-search::placeholder {
  font-size: 3px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  padding-bottom: 30px;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus~.form-input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(190, 12, 12, 0.65);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.form-on-typing {
  border: none;
  padding: 2px 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
}

.form-on-typing:focus {
  border: none;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(190, 12, 12, 0.65);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.card {
  border: none !important;
}

.card-title {
  font-size: 40px;
  font-weight: 700;
}

.card-title-horizontal {
  font-size: 12px;
  font-weight: 700;
}

.detailform {
  margin-right: 40px;
  margin-top: 10px;
}

.detailquantity {
  /* display: flex */
  /* flex-direction: row; */
  margin-top: 10px;

  height: 30px;
}



.detailtitle {
  font-size: 32px;
  font-weight: bold;
}

.detailcategory {
  font-size: 22px;
  color: var(--baseColor);
}

.detaildescription {
  margin-top: 5px;
  font-size: 20px;
  text-align: justify;
}

.detailprice {
  font-size: 32px;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detailresult {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.buttonOnCart {
  background-color: white;
  padding: 20px 30px;
  position: sticky;
  align-items: center;
  bottom: 0px;
}

.buttonOnCart span {
  font-size: 14px;
  color: grey;
}

.hr {
  border: 1px solid var(--greyColor) !important;
  /* background-color: black !important; */
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.bookmark {
  height: 50px;
  width: 50px;
  border: 0px transparent;
  background-color: transparent;
}

.clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.table-wrap {
  overflow-x: scroll;
}

.table {
  min-width: 1000px !important;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}

.table thead.thead-primary {
  background: #99b19c;
}

.table thead th {
  border: none;
  padding: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.table tbody tr {
  margin-bottom: 10px;
}

.table tbody th, .table tbody td {
  border: none;
  padding: 30px;
  font-size: 14px;
  background: #fff;
  border-bottom: 4px solid #f8f9fd;
  vertical-align: middle;
}

.table tbody td.quantity {
  width: 10%;
}

.table tbody td .img {
  width: 100px;
  height: 80px;
  object-fit: contain;
}

.table tbody td .email span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.table tbody td .email span:last-child {
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.table tbody td .close span {
  font-size: 12px;
  color: #dc3545;
}